<div class="main_form">
  <form class="creator_data" [formGroup]="formCreator">
    <input
      class="creator_input form-control"
      type="text"
      placeholder="Title for your apick!"
      formControlName="title"
    />
    <textarea
      class="creator_input form-control"
      type="text"
      placeholder="Description for your apick!"
      formControlName="description"
    ></textarea>
    <input
      class="creator_input form-control"
      type="text"
      placeholder="Link to a image icon"
      formControlName="image"
    />
  </form>
  <div class="creator_endpoint">
    <h4 class="creator_title">CREATED ENDPOINTS</h4>
    <div>
      <p *ngFor="let endpoint of apick.endpoint">{{ endpoint.endpoint }}</p>
    </div>
  </div>
</div>
<div class="main_json">
  <form [formGroup]="formJson" class="creator_json">
    <input
      class="creator_input form-control"
      type="text"
      formControlName="endpoint"
      (input)="validateEndpointName()"
      [class.active]="endpointExists"
    />
    <textarea formControlName="docs"></textarea>
    <button
      class="creator_button"
      type="button"
      (click)="saveJsonData(formJson.value.docs)"
    >
      Confirmar
    </button>
  </form>
</div>
