<main class="main">
    <div class="main_view" *ngIf="apick">
        <div class="apick">
            <img class="apick_image" src={{apick.imageUrl}} alt="{{apick._id}}" (error)="switchImg(true)">
            <div class="apick_text">
                <h2 class="apick_title">{{apick.title}}</h2>
                <p class="apick_description">{{apick.description}}</p>
            </div>
        </div>
        <div class="endpoints">
            <h3>ENDPOINTS</h3>
            <div class="endpoints_div" *ngFor="let endpoint of endpoints">
                <p>localhost:3000/api/apick/{{apick._id}}/{{endpoint.endpoint}}</p>
                <select class="form-select endpoints_select" name="method" #method>
                    <option disabled selected>Choose an option</option>
                    <option *ngFor="let method of endpoint.methods" [value]="method" >{{method}}</option>
                </select>
                <button class="btn endpoint_launch btn-dark" (click)="launchTest(endpoint.endpoint, method)">Launch test!</button>
            </div>
            <div class="endpoints_div mt-5" *ngIf="enabledKey || false">
                <p>{{apiKey || "Generate your API KEY. Only for registered users"}}</p>
                <button class="btn endpoint_launch btn-dark" (click)="generateApiKey()">Get api key</button>
            </div>
            
        </div>
        
    </div>
    <div class="main_json">
        <textarea class="json_body" [(ngModel)]="objectToPost" placeholder="Upload request body"></textarea>
        <textarea class="json_response" placeholder="Request body" disabled>{{response | json}}</textarea>
    </div>
</main>