<ul class="list">
    <li class="list_li"><button class="btn list_button" *ngIf="!logueado" (click)="open(login)">Sign in</button></li>
    <li class="list_li"><button class="btn list_button" *ngIf="!logueado" (click)="open(register)">Sign up</button></li>
    <li class="list_li"><a class="btn list_button" *ngIf="logueado" routerLink="/yourapis">Your apis</a></li>
    <li class="list_li"><a class="btn list_button" *ngIf="logueado" routerLink="/" (click)="closeSesion()">Log out</a></li>
</ul>

<ng-template #login let-loginModal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="loginModal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<form [formGroup]="formUser" class="form_login">
                    <input type="text" placeholder="User" formControlName="username">
                    <input type="password" placeholder="Password" formControlName="password">
                    <button type="submit" class="btn btn-outline-dark" (click)="onSubmit(formUser.value)">LogIn</button>
                </form>
            </div>
		</form>
	</div>
</ng-template>


<ng-template #register let-registerModal >
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="registerModal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<form class="form_register" [formGroup]="formRegister">
					Username: <input type="text" formControlName="username">
					Password: <input type="password" formControlName="password">
					Fullname: <input type="text" formControlName="fullname">
					Email: <input type="email" formControlName="email">
				</form>
            </div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="onRegister(formRegister.value)">Register</button>
	</div>
</ng-template>

<ng-template #logOut let-logoutModal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="logoutModal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				Desea cerrar sesion?
            </div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark"  (click)="closeSesion()" >Cerrar sesion</button>
	</div>
</ng-template>