.list{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    align-items: flex-end;
    margin: 0;
    font-family: "Barlow Condensed", sans-serif;
    .list_li{
        margin-left: 20px;
    }
    .list_button{
        border-radius: 1.8px;
        border: 1px solid rgb(128, 128, 128);
        padding: 2px 40px;
        font-weight: 400;
    }
}

