.list{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    align-items: flex-end;
    margin: 0;
    font-family: "Barlow Condensed", sans-serif;
    .list_li{
        margin-left: 20px;
    }
    .list_button{
        border-radius: 2.8px;
        padding: 5px 49px;
        font-weight: 700;
        border: solid 1px white;
        color: white;
    }
}

