#normalApis{
    width: 70%;
    height: 100%;
    border-right: solid 1px rgb(218, 218, 218);
    display: flex;
}

#valoratedApis{
    width: 30%;
    height: 100%;
    display: flex;
}
.api{
    display: flex;
    height: 130px;
    width: 70%;
}